<mat-card class="content">

<h3>Hello, I'm <i>{{account().name}}</i> 😀</h3>

<h3><b>My contact: </b><i>{{account().email}}</i></h3>

<h3><b>My favourite Sports:</b>
  <div *ngFor="let sport of (account().favouriteSports | keyvalue)">
    <i>{{sport.value}}</i>
  </div>
</h3>

  @if (account().myMatch) {
    <h3><b>Checkout My Match!</b>
      <div>
        <i>{{account().myMatch?.name}} on {{getMyMatchDate()}}</i>
      </div>
    </h3>
  }

<h3><b>Matches I'm in:</b>
  @if (account().participatingMatches.length === 0) {
    <i>None yet! 😢</i>
  } @else {
    <div *ngFor="let match of (account().participatingMatches)">
      <i>{{match.name}}</i>
    </div>
  }
</h3>

<button mat-button type="reset" (click)="onCloseClick()">Close</button>
</mat-card>
