.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*min-height: 200px;*/
  padding: 20px;
  max-width: 400px;
}
.match {
  cursor: pointer;
}
.match:hover {
  font-weight: bold;
  background-color: #7095e7;
}
