<h1 fxLayoutAlign="center center">Match Room</h1>
<div fxLayout="row" fxLayoutAlign="space-around start">
  @if (loadedMatch) {
  <div fxFlex="45" fxLayout="column" fxLayoutAlign="center center">
    @if (isCurrentUserOwner()) {
      <app-match-room-details [currentState]="currentState" [match]="loadedMatch"></app-match-room-details>
    } @else {
      <app-match-read-only [match]="loadedMatch"></app-match-read-only>
    }
  </div>

  <div fxFlex="45" fxLayout="row" fxLayoutAlign="center center">
    <app-match-room-chat [match]="loadedMatch"></app-match-room-chat>
  </div>

  } @else {

  <h2>Loading match details...</h2>

  }
</div>

<p></p>
<div class="buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <button mat-button type="reset" (click)="routeBackToHome()">Go back</button>
</div>
