
<mat-toolbar fxLayoutAlign="center center"> Match Chat  </mat-toolbar>
<div class="card">
  <mat-card>
    @if (isChatMessagesEmpty()) {
      <p>Be the first one to send a message!</p>
    } @else if (isLoadingColors) {
      <p>Loading..</p>
    } @else {
      <div *ngFor="let message of match?.chatData?.chatMessages">
        @if (isCurrentUserMessage(message.sender.id)){
          <div class="current-user-message" [ngStyle]="{'background-color': getUserAssignedColor(message.sender.id)}">
            <div class="messageHeader">
              <span class="messageOwner">{{message.sender.name}}</span>
              <span class="messageDate">{{getMessageDateLabel(message.timestamp)}}</span>
            </div>
            <div class="messageContent">
              <p>{{message.text}}</p>
            </div>
          </div>
        } @else {
          <div class="message" [ngStyle]="{'background-color': getUserAssignedColor(message.sender.id)}">
            <div class="messageHeader">
              <span class="messageOwner">{{message.sender.name}}</span>
              <span class="messageDate">{{getMessageDateLabel(message.timestamp)}}</span>
            </div>
            <div class="messageContent">
              <p>{{message.text}}</p>
            </div>
          </div>
        }
      </div>
    }
    <form [formGroup]="chatRoomForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="stretch" class="form">
      <mat-form-field appearance="outline" class="align-content-md-stretch" hideRequiredMarker>
        <mat-label> Message </mat-label>
        <textarea placeholder="I want to ask something.." matInput formControlName="text"></textarea>
      </mat-form-field>
      <div class="buttons" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
        <button mat-button type="submit" [disabled]="!isChatRoomFormValid()" color="primary">Send</button>
      </div>
    </form>
  </mat-card>
</div>
