.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 400px;
}
/*.mat-toolbar {*/
/*  margin-top: 20px;*/
/*  background-color: #89bed7;*/
/*}*/
.message {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  width: 250px;
  margin-left: 100px;
  margin-right: 10px;
  margin-top: 10px;
}
.current-user-message {
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  width: 250px;
  margin-left: 10px;
  margin-right: 100px;
  margin-top: 10px;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.messageOwner {
  font-weight: bold;
  color: #333;
}

.messageDate {
  font-size: 0.85em;
  color: #595858;
}

.messageContent {
  padding: 5px 0;
  color: #555;
  text-align: left;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
