@if (isLogged()) {
  <mat-drawer-container class="app-container" autosize>

<!--    content inside mat drawer-->
    <mat-drawer #drawer class="app-sidenav" mode="side">
      <p>Logged in as {{getCurrentUsername()}}</p>
      @if (showFiller) {
        <p>Are you sure you want to logout?</p>
        <button mat-button (click)="logout()">Yes</button>
        <button mat-button (click)="drawer.toggle(); changeFiller()">No</button>
      } @else {
        <button mat-button (click)="drawer.toggle(); routeToUpdateMyAccount()">
          <mat-icon aria-hidden="false" aria-label="update-icon" fontIcon="update"></mat-icon>
          Update My Account</button>
        <p>Create a new Match</p>
        <p>My Matches</p>
        <p>My chats</p>

        <button (click)="changeFiller()" mat-raised-button>
          <mat-icon aria-hidden="false" aria-label="logout-icon" fontIcon="logout"></mat-icon>
          Logout
        </button>
      }
    </mat-drawer>
<!--    content in the top-left corner-->
    <div class="app-sidenav-content">
      <div fxLayout="column" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="start start">
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon aria-hidden="false" aria-label="menu-icon" fontIcon="menu"></mat-icon>
            Menu
          </button>
            <button mat-button [matMenuTriggerFor]="notifications" (click)="readNotifications()">
              @if (notificationHelper.hasUserUnreadNotifications(userNotifications)){
              <mat-icon [matBadge]="notificationHelper.getUserUnreadNotificationsSize(userNotifications).toString()" matBadgeColor="warn" matBadgeSize="small" aria-hidden="false" aria-label="notifications" fontIcon="notifications"></mat-icon>
              } @else {
                <mat-icon matBadge="0" matBadgeSize="small" aria-hidden="false" aria-label="notifications" fontIcon="notifications"></mat-icon>
              }
                </button>
            <mat-menu #notifications="matMenu">
              @for (notification of userNotifications; track notification.message) {
                <button mat-menu-item class="notification-item" [disabled]="notificationHelper.isNotificationInactive(notification)" (click)="actOnNotification(notification)">{{notificationHelper.getNotificationLabel(notification)}}  </button>
              } @empty {
                <li mat-menu-item>There are no notifications.</li>
              }
            </mat-menu>
        </div>

        <!-- Content centered-->
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 1 auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </mat-drawer-container>
} @else {
  <router-outlet></router-outlet>
}



