<h2>Welcome to Sports Buddy!</h2>
<p class="loginMetadata">To continue, please login</p>

<div class="card">
  <mat-card>
    <mat-toolbar> Login </mat-toolbar>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="stretch" class="form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
          <app-form-error [control]="loginForm.get('username')"></app-form-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
          <app-form-error [control]="loginForm.get('password')"></app-form-error>
        </mat-form-field>

      <div class="buttons" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
        <div matTooltip='change this' [matTooltipDisabled]="loginForm.valid">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </div>
        <button mat-button type="reset" (click)="routeToCreateAccount()">Create</button>
      </div>
    </form>
  </mat-card>
</div>
