/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fail-snackbar {
  /*--mdc-snackbar-container-color: aqua;*/
  /*--mdc-snackbar-supporting-text-color: aqua;*/
  /*--mat-snack-bar-button-color: white;*/
}
.success-snackbar {
  --mdc-snackbar-supporting-text-color: black;
  --mdc-snackbar-container-color: #a7d6cf;
  --mat-snack-bar-button-color: blue;
}
