<div class="content">
  <div fxLayout="row" fxLayoutAlign="center center" fxFill>
    <div class="card">
      <mat-card>
        <mat-toolbar fxLayoutAlign="center center"> My Match Details </mat-toolbar>
        <form [formGroup]="matchForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="stretch" class="form">

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Match Name</mat-label>
            <input matInput formControlName="name" required>
            <app-form-error [control]="matchForm.get('name')"></app-form-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Match date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" required>
            <!--          <mat-hint>MM/DD/YYYY</mat-hint>-->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <app-form-error [control]="matchForm.get('date')"></app-form-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Time</mat-label>
            <input matInput type="time" formControlName="time">
            <app-form-error [control]="matchForm.get('time')"></app-form-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Notes of this match</mat-label>
            <input matInput formControlName="comments" required>
            <app-form-error [control]="matchForm.get('comments')"></app-form-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" required>
            <app-form-error [control]="matchForm.get('location')"></app-form-error>
          </mat-form-field>

          <h3><b>Sport being played: </b><i>{{match?.sport}}</i></h3>

          <h3><b>Owner of this match: </b>
            <div class="participant" (click)="showAccountDialog(match?.owner!.id)">
              <a><i>{{match?.owner!.name}}</i></a>
            </div>
          </h3>

          <h3><b>Who's participating: </b>
            <div *ngFor="let participant of match?.participants">
              <div class="participant" (click)="showAccountDialog(participant.id)">
                <a>{{participant.name}}</a>
              </div>
            </div>
          </h3>

          <div class="buttons" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <div matTooltip='fields not valid' [matTooltipDisabled]="matchForm.valid">
              <button mat-raised-button color="primary" type="submit" [disabled]="isUpdateDisabled()">Update</button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
