<mat-card class="content">
  <h1>{{getSportIcon()}}  <b>{{match().name}}</b></h1>
  @if (isUserParticipating()){
    <h4>Request sent on {{getMatchRequestDate()}}</h4>
  }
  <h3><b>When: </b>
  <i>{{DateUtils.getDateLabel(match().date)}}</i>
  <i>, at {{DateUtils.getTimeLabel(match().date)}}</i>
  </h3>
  <h3><b>Sport being played: </b><i>{{match().sport}}</i></h3>

  <h3><b>Where: </b><i>{{match().location}}</i> </h3>

  <h3><b>Remarks: </b><i>{{match().comments}}</i></h3>

  <h3><b>Owner of this match: </b><i>{{match().owner.name}}</i></h3>

  <h3><b>Who's participating: </b><i>{{getParticipants()}}</i></h3>

<!--  just to make sure is re-rendering this section-->
  @if (showFiller || !showFiller){
  <div class="buttons" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <button (click)="changeFiller()" mat-raised-button color="primary" type="submit" [disabled]="isUserParticipating() || showFiller">Ask to participate</button>
    <button mat-button type="reset" (click)="onCloseClick()">Close</button>
  </div>
  }
  @if (showFiller) {
    <p></p>
    <p>Enter a message to the owner of this Match:</p>
    <form [formGroup]="matchRequestForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="stretch" class="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Comments</mat-label>
<!--      <input matInput formControlName="comments" required>-->
      <textarea matInput formControlName="comments" required></textarea>
      <app-form-error [control]="matchRequestForm.get('comments')"></app-form-error>
    </mat-form-field>
    </form>

    <button mat-button type="submit" [disabled]="!matchRequestForm.valid">Send</button>
    <button mat-button (click)="changeFiller()">Cancel</button>
  }
</mat-card>
