
@if (isUserRequesting()){
  <div class="topNote">
    <h4>⚠️ You requested to participate in {{getMatchRequestDate()}}</h4>
  </div>
} @else if (isUserParticipating()) {
  <div class="topNote" fxLayout="column" fxLayoutAlign="center center">
    <h4>You are participating in this match! 😎👌🔥</h4>
  <button fxFill mat-button type="button" (click)="goToMatchRoom()">Go to Match-Room</button>
  </div>
} @else if (isUserOwner()) {
  <div class="topNote" fxLayout="column" fxLayoutAlign="center center">
    <h4>You are the Owner of this Match! 🤩 </h4>
    <button fxFill mat-button type="button" (click)="goToMyMatchRoom()">Go to My Match-Room</button>
  </div>
}


<mat-card class="content">

  <app-match-read-only [match]="match()" [dialogRef]="dialogRef"></app-match-read-only>

  <div class="buttons" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <button (click)="changeFiller()" mat-raised-button color="primary" type="submit" [disabled]="isButtonAskToParticipateDisabled()">Ask to participate</button>
    <button mat-button type="reset" (click)="onCloseClick()">Close</button>
  </div>
  <div *ngIf="showFiller" class="confirmSection">
    <p></p>
    <p>Enter a message to the owner of this Match:</p>
    <form [formGroup]="matchRequestForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="stretch" class="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Comments</mat-label>
        <textarea placeholder="Can I participate?" matInput formControlName="comments" required></textarea>
        <app-form-error [control]="matchRequestForm.get('comments')"></app-form-error>
      </mat-form-field>
      <div class="buttons" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
        <button mat-button type="submit" [disabled]="!matchRequestForm.valid" color="primary">Send</button>
        <button mat-button type="reset" (click)="changeFiller()">Cancel</button>
      </div>
    </form>
  </div>
</mat-card>
